*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    // height: 100vh;
    height: 100%;

    p{
        font-size: 5rem;
    }
}

.footer{
    width: 100vw;
    height: 5rem;
    background-color: #000;
    margin-top: auto;
    

    p{
        font-size: 2rem;
        color: #fff;
        text-align: center;
        line-height: 5rem;
    }
}